
h1{
    color:#00FFFF;
    padding:50px;
    margin:20px;
}
*{
    border:dashed #0000FF;
}

.grid{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow:10px;
    background-image:url("images/angryBirds.png");
    border-bottom-color: orange;
    border-bottom:solid 10px orange;
}
.heading{
    display:flex;
}
.footer{
    display:flex;
    justify-content:flex-end;

}
.bullets{
    display:flex;
    justify-content:center;
}
p{
    text-align:center
}
a{
    color:#ADFF2F;
}
a:hover{
    color:#800080;
}
.item{
    flex-grow:2;
}
.item2{
    flex-shrink:4;
}
LI{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight:bold;
}